.try{
    position: relative;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    height: 500px;
}
.try:before{
    content: '';
    height: 150px;
    width: 1200px;
    overflow: hidden;
    background-image: url(https://th.bing.com/th/id/R.5737782450f2ae6ce3a6b7ac189814d0?rik=kaWTKXVxZRP%2bvQ&riu=http%3a%2f%2fimages.clipartpanda.com%2fanimated-rain-clouds-cloud5.png&ehk=F4k9L74eZCfU%2bQHjp88pMYfdNT7fU0db%2bSfwBwAqK%2f8%3d&risl=&pid=ImgRaw&r=0),url(https://th.bing.com/th/id/R.5737782450f2ae6ce3a6b7ac189814d0?rik=kaWTKXVxZRP%2bvQ&riu=http%3a%2f%2fimages.clipartpanda.com%2fanimated-rain-clouds-cloud5.png&ehk=F4k9L74eZCfU%2bQHjp88pMYfdNT7fU0db%2bSfwBwAqK%2f8%3d&risl=&pid=ImgRaw&r=0),url(https://th.bing.com/th/id/R.5737782450f2ae6ce3a6b7ac189814d0?rik=kaWTKXVxZRP%2bvQ&riu=http%3a%2f%2fimages.clipartpanda.com%2fanimated-rain-clouds-cloud5.png&ehk=F4k9L74eZCfU%2bQHjp88pMYfdNT7fU0db%2bSfwBwAqK%2f8%3d&risl=&pid=ImgRaw&r=0),url(https://th.bing.com/th/id/R.5737782450f2ae6ce3a6b7ac189814d0?rik=kaWTKXVxZRP%2bvQ&riu=http%3a%2f%2fimages.clipartpanda.com%2fanimated-rain-clouds-cloud5.png&ehk=F4k9L74eZCfU%2bQHjp88pMYfdNT7fU0db%2bSfwBwAqK%2f8%3d&risl=&pid=ImgRaw&r=0);
    background-position: left 0px top 0px,left 600px top 0px,left 1100px top 0px,left -600px top 0px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    animation: slide 3s linear infinite;    
}
@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }  
@keyframes mov{
    from{background-position: 0 0;};
    to{background-position: 100% 0;}
}
@keyframes anima{
    0%{
        transform: translateX(0px);
    }
    10%{
        transform: translateX(300px);
    }
    20%{
        transform: translateX(600px);
    }
    30%{
        transform: translateX(900px);
    }
    40%{
        transform: translateX(1200px);
    }
    50%{
        transform: translateX(000px);
    }
    60%{
        transform: translateX(300px);
    }
    70%{
        transform: translateX(600px);
    }
    80%{
        transform: translateX(900px);
    }
    90%{
        transform: translateX(1200px);
    }
    100%{
        transform: translateX(1700px);
    }
}